.clock-wrapper {
    width: 200px;
    height: 200px;
  }
  
  .clock {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(245, 246, 250, 1) 100%
    );
    position: relative;
    box-shadow: inset 0px 0px rgba(52, 73, 94, 0.75);
  }
  
  .clockWrapper {
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
  
  .clock {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(245, 246, 250, 1) 100%
    );
    position: relative;
    box-shadow: inset 0px 0px rgba(52, 73, 94, 0.75);
  }
  
  .hours {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    transform-origin: center left;
    transform: rotate(120deg) translateX(-10px);
    box-shadow: 0 2px 3px rgba(52, 73, 94, 0.5);
  }
  
  .minutes {
    position: absolute;
    width: 37.5%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    transform-origin: center left;
    transform: rotate(30deg) translateX(-15px);
    box-shadow: 0 2px 3px rgba(52, 73, 94, 0.5);
  }
  
  .seconds {
    position: absolute;
    width: 42.5%;
    height: 1px;
    background-color: crimson;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    transform-origin: center left;
    transform: rotate(240deg) translateX(-15px);
    box-shadow: 0 2px 3px rgba(192, 57, 43, 0.5);
  }
  
  .minute-mark{
    position: absolute;
    width: 1px;
    height: 10px;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  
  .hour-mark{
    position: absolute;
    width: 2px;
    height: 16px;
    left: 51%;
    margin-top: 14px;
    margin-bottom: 10px;
  }
  
  
  .borderSection{
    position: absolute;
    width: 10px;
    height: 2px;
    left: 50%;
  }